.ScoreBoard {
    height: 115px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 45px;
    font-size: 22px;
    color: rgb(60,60,60);
    display: flex;
}

.Score {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    padding: 2px 15px;
}

.ScoreSubtitle {
    font-weight: thin;
    font-size: 13px;
}