.Chat {
    width: 250px;
    height: 430px;
    background-color: rgb(235,235,235);
    border-radius: 2px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.ChatInput {
    font-size: 15px;
    height: 28px;
    border-radius: 3px;
    align-self: end;
}

.ChatMsg {
    line-height: 35px;
    display: block;
    text-align: left;
    margin-left: 3px;
}