.TopBar {
    height: 45px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    line-height: 45px;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(60,60,60);
}

.TopBarLeft {
    float: left;
    width: 45px;
}

.TopBarRight {
    float: right;
    width: 75px;
}

.TopElement {
    padding: 0;
    margin: 0;
}