.Title {
  color: white;
  font-size: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.CenterPanel {
  width: 350px;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.HomeTitle {
  margin-top: 0;
  font-weight: bolder;
}